html, body {
    height: 100%;
    font-family: 'Numans', sans-serif;
    margin: 0;
    padding: 0;
    background: #e6dede !important;
    color: #333;
}

#loginForm {
    align-content: center;
    padding-top: 100px;
    margin-left: auto;
    margin-right: auto;
}

#registerForm {
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 500px !important;
}

.registerCard {
    height: 400px;
    width: 1000px;
    margin-top: auto;
    margin-bottom: auto;
    background: #648152;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
}

.user_card {
    height: 400px;
    width: 350px;
    margin-top: auto;
    margin-bottom: auto;
    background: #648152;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
}

.logo_container{
    position: absolute;
    height: 170px;
    width: 170px;
    top: -75px;
    border-radius: 50%;
    background: #60a3bc;
    padding: 10px;
    text-align: center;
}

.logo{
    height:150px;
    width: 150px;
    border-radius: 50%;
    border: 2px solid #333333;
}

.form_container{
    margin-top: 100px;
}

.login_btn {
    width: 100%;
    background: #60a3bc !important;
    color: azure;
}